.drawerContainer {
  position: fixed;
  max-height: 100px;
  bottom: 0;
}
.drawer {
  background-color: white;
  border-top: 5px solid #0f3e99;
  box-shadow: 3px 0 3px -4px rgba(31, 73, 125, 0.8),
    -3px 0 3px -4px rgba(31, 73, 125, 0.8);
}

.productThumbnail {
  width: 200px;
}

.thumbnailContentContainer {
}

.drawerImage {
  max-height: 60px;
  max-width: 60px;
}

.comparisonButtons {
}

.closeButton {
  height: 20px;
  width: 20px;
  padding: unset;
  margin-left: -20px;
  border: unset;
  cursor: pointer;
}

.compareProductsButton {
}
