.drawer {
}

.compareProductsButton {
}

.drawerContainer {
  position: fixed;
  max-height: 500px;
  bottom: 0;
  left: 0;
}

.drawerContainer :global(.vtex__icon-caret-up) {
  display: none;
}

.drawerContainer :global(.vtex__icon-caret-down) {
  display: none;
}

.expandCollapseButton {
}

.comparisonButtons {
}
